@font-face {
    font-family: "mickeyfont"; /*a name to be used later*/
    src: url('/fonts/waltograph42.otf'); /*URL to font*/
}

/*body {
	background-size: cover;
	background-image: URL
}*/

#game-heading {
	font-family: "mickeyfont";
	font-size: 75px;
	text-align: center;	
	color: red;
    text-shadow: 1px 0 yellow, 0 1px black, 5px 0 black, 0 -1px yellow;
}

#rond-info {
	position: relative;	
}
#round-number {
	font-family: "mickeyfont";
	font-size: 50px;	
	margin-left: 200px;
	margin-top: -150px;
	position: absolute;
}

#dynamic-round-number {
	font-family: "mickeyfont";
	font-size: 50px;	
	margin-left: 238px;
	margin-top: -90px;
	position: absolute;
}

.mickey-head {
	position: relative;
	width: 500px;
	height: 500px;
	padding: 15px;
	border: 1px solid black;
	border-radius: 350px;
	margin: auto;
	margin-top: 200px;
	background-color: black;
	z-index: 9999;
}

.mickey-left-ear {
	position: absolute;
	background-color: black;
	width: 300px;
	height: 300px;
	border-radius: 200px;
	margin-left: -150px;
	margin-top: -200px;
}

.start-button {
  width: 270px;
  height: 270px;
  background-color: black;
  border: 0px solid #666;
  color: white;
  font-family: "mickeyfont";
  font-size: 50px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 150px;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.mickey-right-ear {
	position: absolute;
	background-color: black;
	width: 300px;
	height: 300px;
	border-radius: 200px;
	margin-left: 360px;
	margin-top: -200px;
}

#player-messages {
	font-family: "mickeyfont";
	position: absolute;
	margin-left: 45px;	
	margin-top: 130px;
	color: white;
	font-size: 50px;	
	text-align: center;
}

/*styling the shape of all the buttons*/
.simon-button {
	width: 240px;
	height: 240px;
	font-size: 100px;
	cursor: pointer;
}

.simon-red {
	position: absolute;	
	border: 1px solid #FF0000;	
	border-radius: 250px 0 0 0;
	background: #FF0000;
	margin-top: 4px;
	margin-left: 4px;
	z-index: 500;
}

#mickey-hand {
	position: absolute;
	margin-left: 50px;
	margin-top: 65px;
	z-index: 1;
}

.simon-blue {
	position: absolute;	
	border: 1px solid #0000FF;	
	border-radius: 0 0 0 250px;
	background: #0000FF;
	margin-top: 235px;
	margin-left: 3px;
	z-index: 500;
}

#mickey-shoe {
	position: absolute;
	margin-left: 45px;
	margin-top: 265px;
	z-index: 1;
}

.simon-yellow {
	position: absolute;	
	border: 1px solid #FFFF00;	
	border-radius: 0 250px 0 0;
	background: #FFFF00;
	margin-top: -32px;
	margin-left: 254px;
	z-index: 500;
}

#mickey-pants {
	position: absolute;
	margin-left: 275px;
	margin-top: 40px;
	z-index: 1;
}

.simon-green {
	position: absolute;	
	border: 1px solid #006600;	
	border-radius: 0 0 250px 0;
	background: #006600;
	margin-left: 254px;
	margin-top: 200px;
	z-index: 500;
}

#mickey-head {
	position: absolute;
	margin-left: 260px;
	margin-top: 225px;
	z-index: 1;
}
